
<style>

</style>

<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

<div class="activation__wrapper">
  <div class="activation__container">

    <div class="activation__message">
      <div> Dear, <span class="activation__user">Somebody</span>
        <!--<Username>-->
        <br/>Thank you for choosing our Phonebook</div>
    </div>
    <div class="activation__link">
      <div>
        Click on the following link to activate your account:
      </div>
      <br/>

      <input type="submit" name="confirm" value="Activate" />
    </div>
    <br/>
    <br/>
    <div class="activation__footer">
      Thank you. Sincerely,
      <br/>  Group9 Support Team.
      <br/>
    </div>
  </div>
</div>


