
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Registration Form</title>
  <link rel="stylesheet" href="registration.component.css">
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div *ngIf="errorMessage.length>0" class="alert alert-danger">{{errorMessage}}</div>

<h1 class="register-title">Registration</h1>

<form class="register" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="standard">
    <input matInput type="text" placeholder="Email address" formControlName="email">
    <mat-error *ngIf="registrationForm.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error *ngIf="registrationForm.get('password').invalid">{{getPasswordErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="confirmPasswordMatcher">
    <mat-error *ngIf="registrationForm.errors?.differentPasswords && (registrationForm.touched || registrationForm.dirty)">Confirm password does not match</mat-error>
  </mat-form-field>

  <input type="submit" value="Create Account" class="register-button" [disabled]="!registrationForm.valid">
</form>

</body>
</html>
